/*
 * Layout LESS styles. Generic layout elements: header, body, footer, dock etc.
 *
 * Copyright 2009 Anqh
 */

/***** PAGE *****/

body                                   { background: @body-background-color @body-background-image; color: @text-color; }

/***** /PAGE *****/


/***** DOCK *****/

#dock                                  { background: @dock-background; border-bottom: @dock-border; padding: 0.4116em 0; left: 0; position: fixed; right: 0; top: 0; z-index: 100; }
#dock label,
#dock div                              { color: @dock-color; }
#dock form                             { float: left; }
#dock label,
#dock input                            { display: inline; margin-left: 0; margin-right: 10px; }
#dock input[type="text"],
#dock input[type="password"]           { width: 100px; }

/***** /DOCK *****/


/***** HEADER *****/

#header                                { padding-top: 35px; margin-bottom: 1px; }
#header .header                        { height: 150px; }
#header h1 a                           { display: block; }

#header ul                             { bottom: 0; left: 0; position: absolute; }
#header li                             { background: @mainmenu-link-background; display: block; float: left; margin-right: 1px; }
#header li:hover                       { background: @mainmenu-link-hover-background; }
#header li a                           { color: @mainmenu-color; display: block; font-variant: small-caps; height: 1em; padding: 1.6667em 2.5em 0.8333em 0.8333em; vertical-align: middle; }
#header li a:hover                     { color: @mainmenu-hover-color; text-decoration: none; }
#header li.selected                    { background: @section-background; border-bottom: 1px solid @section-background;  margin-bottom: -1px; }
#header li.selected a                  { color: @header-color; }
#header .section.breadcrumb            { background: @section-background; }
#header .breadcrumb                    { line-height: 2em; margin-bottom: 1px; margin-top: 1px; padding-bottom: 0.75em; padding-top: 0.75em; }
#header .breadcrumb nav                { display: inline; padding-left: 10px; }

#header #search                        { float: right; padding-right: 10px; }
#header #search input,
#header #search select                 { margin-left: 0; width: 100px; }

/***** /HEADER *****/


/***** BODY *****/

#side-ads                              { float: right; _margin-left: -3px; text-align: center; }

#body .section                         { background: @section-background; }

.mod                                   { background: @mod-background; }

#title                                 { background: #111; border-bottom: 1px solid #222; margin-bottom: -1px; padding: 0 10px; }
#title .actions                        { margin-top: 10px; }
#title nav li                          { background: black; border-right: 1px solid #111; float: left; }
#title nav li a                        { display: block; padding: 0.8333em 1em; }
#title nav li a:hover                  { text-decoration: none; }
#title nav li:hover,
#title nav li.selected                 { background: #222; }
#title nav li.selected a               { color: @header-color; }

.actions                               { float: right; }

section article:hover,
.container:hover,
li.line:hover,
ul.contentlist li:hover                { background: @section-background-alt; }

/*section article + aside,
section article + article,
ul.contentlist li + li                 { border-top: @separator-border; padding-top: 0.8333em; }
li.line + li.line                      { border-top: @separator-border; }
section aside + article                { padding-top: 0.8333em; }
*/
/***** /BODY *****/


/***** FOOTER *****/

#footer                                { background: url(../black50.png); border-top: 1px solid #333; border-bottom: 1px solid #333; color: #f2f2f2; margin-top: 2em; min-height: 150px; }
#footer .mod                           { background: none; }
#footer p,
#footer nav ul                         { text-align: center; }
#footer nav li                         { display: inline; padding: 0 6px; }
#footer .tab                           { float: left; margin-bottom: 1em; }
#footer .tab li                        { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; }

/***** /FOOTER *****/
