/*
 * Layout LESS styles. Generic layout elements: header, body, footer, dock etc.
 *
 * Copyright 2009 - 2010 Anqh
 */

/***** PAGE *****/

body                                   { background: @body-background-color @body-background-image; color: @text-color; }

/***** /PAGE *****/


/***** DOCK *****/

#dock                                  { background: @dock-background; border-bottom: @dock-border; padding: 0.4116em 0; left: 0; position: fixed; right: 0; top: 0; z-index: 100; }
#dock label,
#dock div                              { color: @dock-color; }
#dock form                             { float: left; }
#dock label,
#dock input                            { display: inline; margin-left: 0; margin-right: 10px; }
#dock input[type="text"],
#dock input[type="password"]           { width: 100px; }

/***** /DOCK *****/


/***** HEADER *****/

#header                                { margin-top: 40px; margin-bottom: 10px; }
#header .content                       { /*height: 190px;*/ }
#header h1 a                           { display: block; }

#header nav ul                         { display: block; float: right; }
#header nav ul li                      { background: @mainmenu-link-background; display: block; float: left; margin-right: 1px; }
#header nav ul li:hover,
#header nav ul li.selected             { background: @mainmenu-background;  }
#header nav ul li a                    { color: @mainmenu-color; display: block; font-size: 1.1667em; height: 1em; padding: 1.8883em 2.5em 0.7em 0.7em; vertical-align: middle; }
#header nav ul li a:hover              { color: @mainmenu-hover-color; text-decoration: none; }
#header nav ul ul                      { background: @mainmenu-background; bottom: 0; display: none; height: 39px; margin-top: 1px; }
#header nav li.selected ul,
#header nav li:hover ul                { display: block; }
#header nav li:hover ul                { display: block; z-index: 2; }
#header nav ul ul li                   { display: inline; padding: 0.75em 0.8333em; }
#header nav ul ul li.selected          { font-weight: bold; }

/***** /HEADER *****/


/***** BODY *****/

#side-ads                              { float: right; _margin-left: -3px; text-align: center; }
body.left #main                        { float: left; }
body.right #main                       { float: right; }

#body .content                         { background: @section-background; }

.mod                                   { background: @mod-background; }
.cut li                                { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; }
.tab                                   { background: none; margin: 0; padding: 0; }

#title                                 { background: #111; border-bottom: 1px solid #222; margin: 0 1px -1px 0; padding: 0 9px 0 10px; }
#title .actions                        { margin-top: 10px; }
#title nav li                          { background: black; border-right: 1px solid #111; float: left; }
#title nav li a                        { display: block; padding: 0.8333em 1em; }
#title nav li a:hover                  { text-decoration: none; }
#title nav li:hover,
#title nav li.selected                 { background: #222; }
#title nav li.selected a               { color: @header-color; }

.actions                               { float: right; }

section .article,
section article                        { background: @section-background-alt; position: relative; }
section article:hover                  { .box-shadow(0 0 10px rgba(255, 255, 255, 0.25)); /*background: @section-background-alt;*/ }

/*section article + aside,
section article + article,
ul.contentlist li + li                 { border-top: @separator-border; padding-top: 0.8333em; }
li.line + li.line                      { border-top: @separator-border; }
section aside + article                { padding-top: 0.8333em; }
*/
/***** /BODY *****/


/***** FOOTER *****/

#footer                                { background: black; border-top: 1px solid #333; color: #f2f2f2; margin-top: 2em; min-height: 150px; }
#footer .mod                           { background: none; margin-bottom: 1em; }
#footer p,
#footer nav ul                         { text-align: center; }
#footer nav li                         { display: inline; padding: 0 6px; }
#footer nav ul ul                      { display: none; }

/***** /FOOTER *****/
