/*
 * Widget LESS styles. Generic UI widgets: buttons, inputs etc
 *
 * Copyright 2009 Anqh
 */

/***** INPUTS *****/

section[class*="-edit"] form           { padding: 10px; }
section[class*="-content"] section[class*="-edit"] form { padding: 0; }

label                                  { display: block; }
input[type="checkbox"] + label,
input[type="radio"] + label,
.horizontal li                         { display: inline; padding-right: 5px; }
.horizontal label                      { display: inline; }

input,
textarea,
select                                 { background: @input-background; border: 1px solid @input-border-color; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: @input-color; margin: 0 -3px; padding: 2px 3px 4px; }
input:hover,
select:hover,
textarea:hover                         { border-color: @input-border-hover-color; }
input:focus,
select:focus,
textarea:focus                         { border-color: @input-border-focus-color; }
input[type="checkbox"],
input[type="radio"]                    { color: @text-color; margin: 0; }
input[type="text"],
input[type="password"],
input[type="file"],
textarea,
select                                 { width: 99%; }
input.hint                             { color: @input-hint-color; font-style: italic; }
input.private                          { border-color: @private-color; }

fieldset a                             { vertical-align: middle; }

form .notice .info,
form .error .info                      { float: right; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; padding: 0 0.5em; }
form .notice input,
form .error input                      { border-top-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; }
form .error .info                      { background: @error-background; color: @error-color; }
form .error input                      { border-color: @error-background; }
form .notice .info                     { background: @info-background; color: @info-color; }
form .notice input                     { border-color: @info-background; }

/***** /INPUTS *****/


/***** BUTTONS *****/

.ui-widget .ui-dialog-buttonpane .ui-state-default,
a.action                               { margin-left: 5px; }
.ui-widget .ui-dialog-buttonpane .ui-state-default,
button,
input[type="submit"],
a.action                               { background: @action-background; border-bottom: 1px solid rgba(0,0,0,0.25); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); display: inline-block; color: #fff; cursor: pointer; font-weight: bold; line-height: 1; padding: 4px 1em 3px; position: relative; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.ui-widget .ui-dialog-buttonpane .ui-state-default,
input[type="submit"]                   { border-width: 0 0 1px 0; padding: 1px 1em 0; }
.ui-widget .ui-dialog-buttonpane .ui-state-hover,
button:hover,
input[type="submit"]:hover,
a.action:hover                         { opacity: 0.9; text-decoration: none; }
.ui-widget .ui-dialog-buttonpane .ui-state-default:active,
button:active,
input[type="submit"]:active,
a.action:active                        { outline: 0; top: 1px; }
section article .actions,
.tab .actions,
.container .actions,
li.line .actions,
ul.contentlist li .actions             { opacity: 0.1; }
.ui-widget .ui-dialog-buttonpane .ui-state-hover,
section article:hover .actions,
.tab .actions:hover,
.container .actions:hover,
li.line:hover .actions,
ul.contentlist li .actions:hover       { opacity: 1; }
.ui-widget .ui-dialog-buttonpane .ui-state-default,
section article:hover .actions a.action,
.tab:hover .actions a.action,
.container:hover .actions a.action,
li.line:hover .actions a.action,
ul.contentlist li:hover .actions a.action,
button,
input[type="submit"],
a.action                               { background-color: @link-color; }
section article:hover .actions a[class*="-add"],
li.line:hover .actions a[class*="-add"],
ul.contentlist li:hover .actions a[class*="-add"],
a[class*="-add"]                       { background-color: @positive-color; }
section article:hover .actions a[class*="-delete"],
li.line:hover .actions a[class*="-delete"],
ul.contentlist li:hover .actions a[class*="-delete"],
a[class*="-delete"]                    { background-color: @negative-color; }
.ui-widget .ui-dialog-buttonpane .ui-state-default:hover,
/*section article:hover .actions a.action:hover,
.container:hover .actions a.action:hover,
li.line:hover .actions a.action:hover,*/
button:hover,
input[type="submit"]:hover,
a.action:hover                         { box-shadow: 0 0 15px @link-color; -moz-box-shadow: 0 0 15px @link-color; -webkit-box-shadow: 0 0 15px @link-color; }
section article:hover .actions a[class*="-add"]:hover,
li.line:hover .actions a[class*="-add"]:hover,
a[class*="-add"]:hover                 { box-shadow: 0 0 15px @positive-color; -moz-box-shadow: 0 0 15px @positive-color; -webkit-box-shadow: 0 0 15px @positive-color; }
section article:hover .actions a[class*="-delete"]:hover,
li.line:hover .actions a[class*="-delete"]:hover,
a[class*="-delete"]:hover              { box-shadow: 0 0 15px @negative-color; -moz-box-shadow: 0 0 15px @negative-color; -webkit-box-shadow: 0 0 15px @negative-color; }


form .buttons                          { display: block; margin-bottom: 1em; margin-top: 1em; text-align: center; }

.pills                                 { margin-bottom: 1.6667em; }
.pills li                              { display: inline; }
.pills li label                        { background: @input-background; color: @text-color; cursor: pointer; display: inline; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 0 0.5em; }
.pills li label:hover                  { background: @link-hover-color; color: @action-link-color; }
.pills li input[type="checkbox"]       { display: none; }
.pills li input[type="checkbox"]:checked + label { background: @positive-color; color: @action-link-color; }

/***** /BUTTONS *****/


/***** TEXT *****/

a,
a *                                    { color: @link-color; }
a:hover *,
a:hover                                { color: @link-hover-color; }

h2 span,
h3 span,
h4 span,
h5 span,
h6 span                                { color: @text-color; }
h2                                     { color: @header-color; }
legend,
h3,
h4,
h5,
h3 a,
label,
dt,
h5 a                                   { color: @subheader-color; }
time[title],
abbr[title]                            { border-bottom: 1px dotted @separator-color; margin-bottom: -1px; }

a.user                                 { font-weight: bold; }

.tip                                   { color: @tip-color; font-size: 0.9em; font-style: italic; line-height: 1.552em; }
.my                                    { color: @my-color; }
.owner                                 { color: @owner-color; }
.private                               { color: @private-color; }

/***** /TEXT *****/


/***** BADGES *****/

.step                                  { font-family: Georgia, serif; font-size: 3em; line-height: 1.5em; }
.step,
.date *                                { display: block; text-align: center; }
.step,
.date .day                             { color: @subheader-color; font-family: Georgia, serif; font-size: 2em; line-height: 0.833em; }
.date span                             { background: @badge-background; }
.date .weekday                         { background: @badge-background-alt; border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; }
.date .month                           { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; text-transform: uppercase; }
.date.today .weekday                   { background: @subheader-color; color: @action-link-color; }

/***** /BADGES *****/


/***** MEDIA *****/

.avatar                                { float: left; height: 50px; padding: 5px; text-align: center; width: 50px; }
.avatar a                              { display: block; }
.avatar img                            { max-height: 50px; max-width: 50px; }
a img                                  { opacity: .9; }
a:hover img                            { opacity: 1; }

#map                                   { height: 200px; width: 300px; }

.logo                                  { float: right; }

/***** /MEDIA *****/


/***** AUTO COMPLETE *****/

.ac_loading                            { background: @input-background; }
.ac_results                            { background: @input-background; border: 1px solid @input-border-focus-color; overflow: hidden; padding: 0; z-index: 99999; }
.ac_results ul                         { list-style-position: outside; list-style: none; margin: 0; padding: 0; width: 100%; }
.ac_results li                         { cursor: default; display: block; font: menu; margin: 0; padding: 2px 5px; overflow: hidden; }
.ac_odd                                { background-color: @input-background-alt; }
.ac_over                               { background-color: @input-hint-color; color: @input-border-focus-color; }
.ac_over strong                        { color: @link-color; }

/***** /AUTO COMPLETE *****/


/***** BBCODE *****/

ul.contentlist ul.bbcode_list,
ul.bbcode_list                         { list-style: disc; padding: 0 1.667em; }
ul.contentlist ul.bbcode_list li,
ul.bbcode_list li                      { margin-left: 0; margin-right: 0; padding: 0; }
ul.contentlist ul.bbcode_list li + li  { border-top: none; padding-top: 0; }
.smiley,
.bbcode_smiley                         { float: none; margin: 0; padding: 0; vertical-align: baseline; }

.markItUp                              { margin: 5px 0; width: auto; }
.markItUpResizeHandle                  { border-bottom: 3px dotted @input-border-color; cursor: n-resize; height: 5px; margin: 0 auto 2px; overflow: hidden; width: 40px; }
.markItUpResizeHandle:hover            { border-bottom-color: @input-border-hover-color; }

.markItUpHeader ul li                  { float: left; position: relative; }
.markItUpHeader ul li:hover > ul       { display: block; }
.markItUpHeader ul li a                { background: transparent no-repeat center center; display: block; height: 16px; padding: 2px 0.5em; text-indent: -9999px; width: 16px; }
.markItUpHeader ul .markItUpSeparator  { background: @input-border-color; margin: 0 10px; overflow: hidden; width: 1px; }
.markItUpHeader ul .markItUpDropMenu   {  }
.markItUpHeader ul .markItUpDropMenu > a::after { content: '\25BC'; padding-left: 0.5em; }
.markItUpHeader ul .markItUpDropMenu li { margin-right:0px; }

.markItUpHeader ul ul                  { background: @section-background; display: none; left: 0; position: absolute; top: 1.6667em; }
.markItUpHeader ul ul li               { float: none; width: auto; }

.markItUpHeader .button-bold a         { background-image: url(/ui/icon/text_bold.png); }
.markItUpHeader .button-italic a       { background-image: url(/ui/icon/text_italic.png); }
.markItUpHeader .button-underline a    { background-image: url(/ui/icon/text_underline.png); }
.markItUpHeader .button-size a         { background-image: url(/ui/icon/text_size.png); }
.markItUpHeader .button-small a        { background-image: url(/ui/icon/text_size_small.png); }
.markItUpHeader .button-normal a       { background-image: url(/ui/icon/text_size_normal.png); }
.markItUpHeader .button-big a          { background-image: url(/ui/icon/text_size_big.png); }
.markItUpHeader .button-picture a      { background-image: url(/ui/icon/photo_link.png); }
.markItUpHeader .button-link a         { background-image: url(/ui/icon/world_link.png); }
.markItUpHeader .button-list-bullets a { background-image: url(/ui/icon/text_list_numbers.png); }
.markItUpHeader .button-list-numbers a { background-image: url(/ui/icon/text_list_bullets.png); }
.markItUpHeader .button-list-item a    { background-image: url(/ui/icon/text_list_item.png); }
.markItUpHeader .button-quote a        { background-image: url(/ui/icon/text_quote.png); }
.markItUpHeader .button-code a         { background-image: url(/ui/icon/page_white_code.png); }
.markItUpHeader .button-clear a        { background-image: url(/ui/icon/page_white_code_red.png); }

/***** /BBCODE *****/

